<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />

<title>Spring10b-MVC</title>
</head>
<body>

	<div class="container">

		<h1>
			Spring10b-MVC<br />
		</h1>

		<h2>LISTADO DE USUARIOS</h2>
		<p>Datos de la tabla de usuarios</p>

		<table class="table table-striped">
			<tr>
				<th>Nº</th>
				<th>Name</th>
				<th>Platform</th>
				<th>Year</th>
				<th>Genre</th>
				<th>Publisher</th>
				<th>Na_Sales</th>
				<th>Eu_Sales</th>
				<th>Jp_Sales</th>
				<th>Others_Sales</th>
				<th>Global_Sales</th>
			</tr>
			<tr th:each="user, status : ${gameList}">
				<td th:text="${user.id}" />
				<td th:text="${user.name}" />
				<td th:text="${user.platform}" />
				<td th:text="${user.year}" />
				<td th:text="${user.genre}" />
				<td th:text="${user.publisher}" />
				<td th:text="${user.na_sales}" />
				<td th:text="${user.eu_sales}" />
				<td th:text="${user.jp_sales}" />
				<td th:text="${user.other_sales}" />
				<td th:text="${user.global_sales}" />
			

				<td><a th:href="@{/edit(id=${user.id})}">Modificar</a> | <a
					th:href="@{/delete(id=${user.id})}">Eliminar</a></td>
			</tr>

		</table>
		<p>
			<a href="/new" class="btn btn-primary">Nuevo Usuario</a>
		</p>
	</div>
</body>
</html>